<html>

    <head>
        <title>Galakse</title>
    </head>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">

    <body>

        <div class = "contains-text flex-container">
            
            <div class = "flex-header-container">
                
                <div class = "flex-header-item" id = "galakseIcon">
                    <img src = "https://storage.googleapis.com/galakse/static_content/galakse_icon_white.png">
                </div>
                
                <div class = "flex-header-item" id = "headerLoginButton">
                    <button class = "button">LOG IN</button>
                </div>

            </div>
            
            <div class = "flex-body-container">
                
                <div class = "flex-body-item">
                    <h2>SEARCH FOR YOUR CLASS</h2>
                    <p>We might just have what you're looking for. Learn more</p>
                    
                    <form>
                        <input id = "searchBox" type = "text" name = "search" placeholder = "Course Name...">
                    </form>
                    
                </div>
                
                <div class = "flex-body-item" id = "headerSubmitBox">
                    <h3>CARE TO SUBMIT SOMETHING?</h3>
                    <p>
                        Our contact information is at the bottom of the page. We'll make sure your work is posted.
                    </p>
                </div>

            </div>
            
        </div>

         <div class = "video-container">
                <video autoplay muted loop id="introVideo">
                    <source src="https://storage.googleapis.com/galakse/static_content/galakse_intro.mp4">
                </video>
        </div>
        


        <div class = "flex-about-container">
            
            <div class = "flex-about-item contains-text" id = "titleLogo">
                <h1 style="font-family: 'Montserrat', sans-serif; font-size: 100px;">Galaksē</h1>
                <p>
                    Generationally Accumulated Library of Applicable Knowledge for Students in Engineering
                </p>
            </div>
            
            <div class = "flex-about-item image" id = "appPic">
                <img src = "Resources/appPic.png">
            </div>
            
            <div class = "flex-about-item contains-text" id = "aboutText">
                <h2>About</h2>
                <p class = "text">
                    The purpose of galaksē is to give members of West Virginia University’s IEEE student branch 
                    access to a collection of old exams, homework assignments, and other resources via any computer or smartphone. 
                    It is kept alive with the goal that students will use this material to excel in their Computer Science, 
                    Computer Engineering, Electrical Engineering, and Biometric Systems courses, along with others.
                    
                    galaksē is maintained by and available only to paying members of WVU IEEE. Contact us by email to learn more.
                </p>
            </div>
               
        </div>

        <div class = "flex-rules-container">

            <div class = "flex-rules-item contains-text" id = "rulesList">
                <h2>Rules</h2>
                <p class = "text">
                    The purpose of this website is to offer academic support to the members of this student org. With that said, 
                    please be mindful to respect the following rules: 
                </p>
                <ul class = "text">
                    <li>Do NOT copy work directly</li>
                    <li>Do NOT share access to this website with non-members</li>
                    <li>Do NOT alter the site content without permission from an editor</li>
                </ul>
                <p class = "text">
                    Violation of the above rules may result in the termination of your WVU IEEE membership 
                    and further access to the database.
                </p>
            </div>

            <div class = "flex-rules-item picture" id = "tablePic">
                <img src = "Resources/tablePic.png">
            </div>

        </div>

        <div class = "footer contains-text">
            <p>
                <b>CONTACT</b>
                <br /><br />Email | wvuieee+owners@googlegroups.com
            </p>
        </div>
                    
    </body>
</html>