// Place all the styles related to the LandingPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contains-text {

    font-family: Arial, Helvetica, sans-serif;

}

body, h1, p , video{
    margin: 0px;
}


//=================================================================================
// BEGIN HEADER AND MAIN CONTENT
//=================================================================================


.flex-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 1;

    color: white;
	
}

.flex-header-container {
    
    display: flex;
    justify-content: space-between;
    width: 100vw;

}

.flex-body-container {
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.flex-header-item {

    margin: 30px;

}

#introVideo {

    width: 100%;
    height: auto;
    margin-bottom: 0px;

    position: relative;
    z-index: 0;

}

#headerLoginButton {
    
    width: 10%;
    height: 6%;
    margin-top: 40px;
    margin-right: 40px;
    border: 2px solid #ccc;
    border-radius: 4px;

    transition-timing-function: linear;
    transition-duration: .3s;
    
}

#headerLoginButton:hover {
    
    background-color: #545353;
    
}

.button {
    
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 20px;
    color: white;
    border: solid;
    border-color: white;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 100%;
    
}

#searchBox {
    
    width: 25vw;
    box-sizing: border-box;
    border: 4px solid #ccc;
    border-radius: 4px;
    font-size: 32px;
    background-color: transparent;
    padding: 8px 20px 8px 20px;
    
    transition-timing-function: linear;
    transition-duration: .3s;
    
}

#searchBox:hover {
    
    background-color: #545353;
    
}

#searchBox:focus {
    
    background-color: #545353;
    
}

#headerSubmitBox {

    margin-top: 20%;
    text-align: center;

}


//=================================================================================
// BEGIN ABOUT SECTION
//=================================================================================


.flex-about-container {

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 0px;

    background-color: #efefef;
    width: 100%;
    height: 70vh;

}

.flex-about-item {

    width: 40%;
    margin: 30px;

}

#titleLogo {

    width: 100%;
    text-align: center;
    font-size: 30px;

}


//=================================================================================
// BEGIN RULES SECTION
//=================================================================================


.flex-rules-container {

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 0px;

    background-color: #efefef;
    width: 100%;
    height: 30vh;

}

.flex-rules-item {

    width: 40%;
    margin: 30px;

}

//=================================================================================
// BEGIN FOOTER
//=================================================================================


.footer {

    background-color: black;
    color: white;
    text-align: center;

}
